<!DOCTYPE html>
<html lang="fr">
<head>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="../static/css/table.css">
      <link rel="stylesheet" href="../static/css/bar.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">

	<div class="table">
		<div class="table-header">

			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Formulaire</a></div>

		</div>
		<div class="table-content">
			<div class="table-row">
				<form action="/ia" method="post">

    <label for="Profession">Profession</label>
    <input type="text" id="Profession" name="profession" placeholder="Profession" value="{{request.form.Profession }}">

    <label for="politique">Groupe politique</label>
    <input type="text" id="politique" name="gp" placeholder="politique" value="{{request.form.politique }}">

    <label for="region">Region</label>
   <input type="text" id="region" name="region" placeholder="region" value="{{request.form.region }}">

    <input type="submit" value="Submit">

  </form>




			</div>





			</div>

		</div>
	</div>



</body>
</html>