<!doctype html>
<html lang="en">
  <head>
  	<title>Projet Assemblée nationale</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="../static/css/table.css">
      <link rel="stylesheet" href="../static/css/bar.css">
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../static/images/logoAssemblee.png);"></a>
	        <ul class="list-unstyled components mb-5">


	          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Afficher les projets</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">

                   <li>
                    <a href="">Stat</a>
                </li>
                  <li>
                    <a href="">IA</a>
                </li>




              </ul>
	          </li>

	          <li>
              <a href="{{ url_for('contact') }}">Contact</a>
	          </li>


	        </ul>

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved our GitHub repo
                    <i class="icon-heart" aria-hidden="true"></i>
                    <a href="" target="_blank">gitHub.com</a>
                </p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <div class="search-container">

    <form action="/" method="post">
      <input type="text" placeholder="Rechercher un député.." name="motcle" value="{{request.form.motcle }}">
      <button type="submit">Recherche</button>
    </form>
  </div>
</div>



<div class="container">

	<div class="table">
		<div class="table-header">

			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Projet</a></div>

		</div>
		<div class="table-content">
			<div class="table-row">
				<form action="/" >

    <label for="fname">Profession</label>
    <input type="text" id="fname" name="profession" placeholder="Profession">

    <label for="lname">Groupe politique</label>
    <input type="text" id="lname" name="gp" placeholder="politique">

    <label for="country">Region</label>
    <select id="country" name="country">
      <option value="australia">UE</option>
      <option value="canada">France</option>
      <option value="usa">Autre</option>
    </select>

    <input type="submit" value="Submit">

  </form>




			</div>





			</div>

		</div>
	</div>
</div>

















      </div>
		</div>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>